.header{
    background-color: rgb(149, 149, 252);
    grid-column: full-start/col-end 6;
    background-image: linear-gradient($header, $header2), url(../img/gal-13.jpeg);
    background-size: cover;
    background-position: center;

    display: grid;
    grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
    //grid-template-columns: max-content;
    grid-template-columns: minmax(min-content, max-content);   

    grid-row-gap: 1.5rem;
    padding: 8rem;
    padding-top: 4rem;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1/-1; // same as full-start/full-end
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }

    &__logo{
        height: 3rem;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__text{
        display: grid;
        color: $greylite2;
        font-size: 1.6rem;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;

        &::before,
        &::after {
            content: "";  //w/o dz it wont work
            height: 1px;
            background-color: currentColor;
            display: block;

        }
    }

    &__logos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
        justify-content: center;
        align-items: center;
        img{
            max-width: 100%;
            max-height: 2.5rem;
            filter: brightness(70%);  // used to reduce the image brigtness           
        }
    }
}